@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root {
    --thumbnails-image-width: 100%;
    --thumbnails-image-height: 100%;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: darkseagreen;
    /* align-items: center; */
}
.main-content {
    height: 90vh;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    margin: 1vw;
    border: 1px solid blue;
    max-width: calc(var(--thumbnails-image-width) * 0.3);
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    border-radius: 25%;
    overflow: hidden
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-title-height);
}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-image {
    width: 95%;
    height: 60vw;
}
.details-title {
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
    font-style: italic;
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
   text-transform: uppercase;
   margin: 0;
   font-family: lakeshor;
}
body, html {
    height: 100%
}
.hidden .thumbnails-item {
    max-width: 45%;
}
.hidden .details-container {
    display: none;
}
.hidden .thumbnails-list {
    flex-direction: row;
    flex: 50%;
    max-height: 90vh;
    margin-right: 1vh;
    margin-bottom: 0;
    margin-top: 0;
}
.hidden.main-content {
    height: 90vh;
}
.selected.thumbnails-item {
    border-radius: 0;
    border: 3px solid green;
}
.hide-button {
    position: absolute;
    right: 5vw;
    top: 2vw;
}

@media (min-width: 568px){
    :root {
        --thumbnails-image-width: 100%;
        --thumbnails-image-height: 100%;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.25);
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 84vh;
        justify-content: flex-start;
        padding: 1vw;
        margin: 0;
    }
    .thumbnails-title {
        font-size: 1rem;
    }
    .thumbnails-item {
        margin: 1vw;
        overflow: hidden;
        min-height: calc(var(--thumbnails-image-width) * 0.3);
        max-width: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    }
    .details-image {
        width: 70vw;
        height: 47vw;
        margin-right: 2vw;
    }
    .details-title {
        left: 0vw;
        bottom: 2vw
    }
    .main-content {
        display: flex;
        justify-content: space-around;
    }
    .details-container {
        justify-content: center;
    }
    body {
        justify-content: space-between;
        margin: 0;
    }
    .logo-title {
        margin: 0;
        font-size: 1.5rem;
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 90vh;
        margin: 0 1vh 0 1vh;
    }
    .hidden .thumbnails-item {
        max-width: 30%;
        min-height: 30%;
    }
    .hidden.main-content {
        height: 88vh;
    }
}
@media (min-width: 900px){
    .main-content {
        justify-content: space-between;
    }
    .thumbnails-list {
        max-height: 85vh;
        max-width: 20vw;
        padding-right: 2vw
    }
    .thumbnails-title {
        font-size: 1.5rem;   
    }
    .details-image {
        width: 85%;
        object-fit: contain;
    }
    .details-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .details-title {
        left: 1vw;
        bottom: 3vw;
        font-size: 2rem;   
    }
    .logo-title {
        margin: 0;
        font-size: 2rem;
    }
    .hidden.main-content {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        flex: 50%;
        max-height: 90vh;
        max-width: 100vw;
        margin-right: 1vh;
        margin-bottom: 0;
        margin-top: 0;
    }
    .hidden .thumbnails-item {
        width: 45%;
    }
}