:root {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw;
    --thumbnails-title-height: calc(--thumbnails-image-height * 0.33);
    --details-image-width: 95%;
}
@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 43, 116);
    margin: 0;
}
.logo-title {
    display: block;
    width: 100%;
    margin: 0;
    background-color: rgb(30, 1, 85);
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 45vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin-top: 2.5vh;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
    width: var(--thumbnails-image-width);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    max-width: var(--thumbnails-image-width);
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    border: 1px solid blue;
    border-radius: 3vh;
    overflow: hidden;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-width);
    display: block;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    object-fit: cover;
}
.thumbnails-anchor {
    text-decoration: none;
}
.details-container {
    margin: 0;
    margin-top: 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.details-image {
    width: var(--details-image-width);
    object-fit: contain;
    border-radius: 5%;
}
.details-title {
    background-color: cornsilk;
    position: absolute;
    left: 4vw;
    bottom: 1vw;
    background-color: transparent;
    font-family: airstream;
    font-style: italic;
}
.footer-title {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(30, 1, 85);
    color: ghostwhite;
    display: block;
    font-size: 8px;
    text-align: center;
    padding: 0;
}
body, html {
    height: 100%;
}

@media (min-width: 568px) {
    body {
        margin: 0;
        justify-content: space-between;
        background-color: rgb(30, 1, 85);
    }
    .main-content {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        background-color: rgb(4, 43, 116);
    }
    .logo-title {
        background-color: rgb(30, 1, 85);
        color: ghostwhite;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        top: 0;
        width: 100%;
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        width: 22vw;
        max-height: 85vh;
        overflow: auto;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        margin-left: 2vw;
    }
    .thumbnails-title {
        width: 20vw;
        border-bottom-left-radius: 3vh;
        border-bottom-right-radius: 3vh;
    }
    .thumbnails-item {
        max-width: 20vw;
        margin-top: 2vh;
        border: 1px solid blue;
        border-radius: 3vh;
        margin-left: 0;
    }
    .thumbnails-image {
        width: 20vw;
        height: 25vh;
        display: block;
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
    }
    .thumbnails-anchor {
        text-decoration: none;
    }
    .details-container {
        display: flex;
        width: 75vw;
        height: 85vh;
        margin-top: 2vh;
    }
    .details-image {
        width: 85%;
        height: 75%;
        margin-top: 7vh;
        object-fit: contain;
    }
    .details-title {
        background-color: cornsilk;
        position: relative;
        align-self: flex-start;
        left: 3vw;
        bottom: 3vw;
    }
    .footer-title {
        display: block;
        font-size: 8px;
        text-align: center;
        bottom: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: rgb(30, 1, 85);
        color: ghostwhite;
    }
}
@media (min-width: 900px) {

}